.Choice_button {
    /* RatingButton */
    background-color: #020B14;
    color: white;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    width: 40px;
    height: 40px;

    /* Blue */
    border: 1px solid #1F73F9;
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /*font*/
    font-size: 14px;
    font-family: "Roboto Regular";

}
